# Redundant AI stuff
.claude
CLAUDE.md
.cursorrules
.windsurfrules

# Game data files (not in repo)
unpacked_icarus_data/

.vscode/

# Python virtual environment
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Effectively the "build" output for the project
output/


# LibreOffice lock files
.~lock.icarus_food_guide.ods
